.wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 4em;
}

.logo {
  fill: var(--text-color);
}

.title {
  margin: 0.6em 0;
  font-size: 7.777777777777778em;
  letter-spacing: -0.03em;
  line-height: 100%;
  color: var(--text-color);
}

.title__secondary {
  text-align: right;
}

.tagline {
  max-width: 700px;
  margin-top: -3em;
  font-size: 1.388em;
  line-height: 150%;
  color: var(--text-color);
}
