.canvas_container {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100vw;
}

.canvas_container::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  background: radial-gradient(#ffffff00, #000000ff);
  opacity: 0.2;
}
